In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd

In [ ]:
class DataProcessor():
    def __init__(self, credentials_path):
        self.credentials = service_account.Credentials.from_service_account_file(
            credentials_path
        )

In [2]:
credentials = service_account.Credentials.from_service_account_file(
    '../niologic-assessment-33f145533e28.json'
)

In [3]:
project_id = 'niologic-assessment'
client = bigquery.Client(credentials=credentials, project=project_id)

In [4]:
query_job = client.query("""
   SELECT 
  EXTRACT(YEAR FROM report_date) AS year
  ,EXTRACT(MONTH FROM report_date) AS month
  ,EXTRACT(DAY FROM report_date) AS day
  ,CAST(SUBSTR(report_time, 0, 2) AS INT) AS hour
  ,Longitude
  ,Latitude
    FROM `niologic-assessment.seattle_calls.calls-processed`
   LIMIT 10 """)

results = query_job.result()

In [5]:
results.to_dataframe()

   year  month  day  hour   Longitude   Latitude
0  2006     11   24    16 -122.265625  47.666305
1  2007     12   25    11 -122.265625  47.666305
2  2004      7    6    17 -122.265625  47.666305
3  2007      1   30    16 -122.265625  47.666305
4  2007     12   30     2 -122.265625  47.666305
5  2014     12    4     7 -122.265625  47.666305
6  2005     11   12     5 -122.296875  47.569115
7  2007     10   25     9 -122.296875  47.569115
8  2006      8    3     3 -122.296875  47.569115
9  2011      5   15    22 -122.296875  47.569115

In [11]:
query_str = """
   SELECT 
  EXTRACT(YEAR FROM report_date) AS year
  ,EXTRACT(MONTH FROM report_date) AS month
  ,EXTRACT(DAY FROM report_date) AS day
  ,CAST(SUBSTR(report_time, 0, 2) AS INT) AS hour
  ,Longitude
  ,Latitude
    FROM `niologic-assessment.seattle_calls.calls-processed`
   LIMIT 10 """

In [27]:
pd.read_gbq(query=query, credentials=credentials)

ValueError: Please install the 'db-dtypes' package to use this function.

In [15]:
import db_dtypes

In [6]:
import sys
sys.path.append('/Users/markbreen/src/seattle-calls/src/')

In [7]:
from data_loader import DataProcessor

In [9]:
credentials_path = '../niologic-assessment-33f145533e28.json'
proc = DataProcessor(credentials_path=credentials_path, project_id=project_id)

In [27]:
proc.query_db(query_str)

   year  month  day  hour   Longitude   Latitude
0  2014      5    7    15 -122.265625  47.670189
1  2010      1   20    23 -122.296875  47.569115
2  2011     10   28    10 -122.343750  47.619228
3  2019     12   22    21 -122.375000  47.549467
4  2010      6   24    21 -122.375000  47.549467

In [25]:
with open('../train.sql', 'r', encoding='utf-8-sig') as f:
    query_str = f.read()

In [26]:
query_str

'SELECT EXTRACT(YEAR FROM report_date) AS year, EXTRACT(MONTH FROM report_date) AS month, EXTRACT(DAY FROM report_date) AS day, CAST(SUBSTR(report_time, 0, 2) AS INT) AS hour, Longitude, Latitude FROM `niologic-assessment.seattle_calls.calls-processed` WHERE EXTRACT(YEAR FROM report_date) BETWEEN 2009 AND 2021 LIMIT 5;'